.navigationBar {
  font-size: 1.2em;
  padding: 0px;
  list-style-type: none;
  background-color: rgb(204, 200, 200);
  border: 0px;
  border-top: 1px;
  border-bottom: 1px;
  border-color: black;
  border-style: solid;
}

.navigationBar > li {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  user-select: none;
  border: 0px;
  border-left: 1px;
  border-color: black;
  border-style: solid;
}

.navigationBar > li:first-child {
  border-left: 0px;
}

.navigationBar .active {
  font-weight: bold;
}

.navigationBar a,
.navigationBar a:link,
.navigationBar a:visited,
.navigationBar a:hover,
.navigationBar a:active {
    color: #2954a7;
    text-decoration: none;
}
